.type-1157{
    @color:#fff;
    @font-size:18px;
    @padding:1px 5px 6px;
    @width:100%;
    @padding1:10px 17px;
    @border:1px solid #E6E9ED;
    @opacity:1;
    @border-bottom:2px solid #E6E9ED;
    @margin-bottom:15px;
    @margin-right:0px;
    @margin:5px 0 6px;
    @font-weight:400;
    @font-weight1:500;
    @color1:#246dba;
    @margin-left:10px;
    @padding2:5px;
    @color3:#C5C7CB;
    @font-size1:14px;
    @transform:rotate(180deg);
    @padding3:15px;
    @margin-bottom2:6px;
    @background:#F2F5F7;
    @padding4:13px;
    @font-size2:16px;
    @margin-bottom:0px;
    @margin-top1:0px;
    @color4: #246dba;
    @color2: #5A738E;
    .content5{
        color: @color4;
        a {
            color: @color2;
            text-decoration: none;
        }
        .x_panel5 {
            width: @width;
            padding: @padding1;
            display: inline-block;
            background:@color;
            border: @border;
            opacity: @opacity;
        }
        .x_title {
            border-bottom: @border-bottom;
            padding: @padding;
            margin-bottom: @margin-bottom;
            .navbar-right{
                margin-right: @margin-right;
                        }  
                }
        h2 {
            margin:@margin;
            float: left;
            display: block;
            white-space: nowrap;
            font-weight: @font-weight;
            font-size:@font-size;
            overflow: hidden;
            text-overflow:ellipsis;
            span:hover{
                color:@color4;
            }
        } 
        small{
            margin-left:@margin-left;
        }
        .navbar-right{
            float: right;
        }
        .panel_toolbox>li {
            float: left;
            cursor: pointer;
        }
        .panel_toolbox>li>a {
            padding: @padding2;
            color: @color3;
            font-size: @font-size1;
        }
        .degree {
            transform: @transform;
        }
        .panel{
            margin-bottom: @margin-bottom2;
        }
        .panel:hover {
            background: @background;
        }
        .accordion .panel-heading {
            background: @background;
            padding: @padding4;
            width: @width;
            display: block;
        }
        .accordion .panel-heading:hover{
            color: @color3;
        }
        h4{
            font-size: @font-size2;
            font-weight: @font-weight1;
            margin-bottom: @margin-bottom;
            margin-top: @margin-top1;
        }
        .body{
            padding: @padding3;
        }
    }
}
@media(max-width:1200px){
    @h2-width:62%;
    @font-size3:17px;
    small{
        display: none;
    }
    h2{
       width: @h2-width;
      font-size:@font-size3;
    }
}

