.style-641{
    @width-3: 100%;
    .testimonials_custom_block_3 {
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        width: @width-3;
        height:980px;
        
        background-image: url(../images/5.jpg);
    }
    .nuthai{
        padding-right: 110px;
        padding-left: 50px;
        margin-top: -150px;
        font-size: 2.5em;
    }
    
    .mySlides {
        margin: auto;
        padding-top: 100px;
        padding-right: 70px;
        margin-bottom: 10px;
        height: 65%;
        width: 65%; 
    }
    .w3-display-container{
        text-align: center;
        position: relative;

    }
    .w3-display-left {
        background-color: #f6f7f3;
        border: 21px solid #ddd; 
        color: #96bd42;

    }
    .w3-display-right{
        background-color: #f6f7f3;
        border: 21px solid #ddd;
        color: #96bd42;
    }  
    .w3-btn-floating:hover{
        background: #edf032;
    }
   
}