.type-1151 .navbar-default {
  background: #fff;
  border: none;
}
.type-1151 .navbar-default .input-group span {
  background: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.type-1151 .navbar-default .input-group span:hover {
  background: #40b7ec;
}
.type-1151 .navbar-default .input-group input {
  border: none;
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-color: #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.type-1151 .navbar-default ul li a:hover {
  color: #40b7ec;
}
