.type-1159 {
  padding: 10px 20px;
}
.type-1159 .navhai {
  height: 57px;
}
.type-1159 .navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.type-1159 .navbar {
  width: fit-content;
  float: right;
  background: #fff;
  display: inline-grid;
}
.type-1159 .navbar li {
  padding-left: 60px;
  display: inline-block;
}
.type-1159 .navbar li a {
  color: #000;
  text-decoration: none;
}
.type-1159 .navbar li a:hover {
  color: #fcb800;
  transition: all .25s ease;
}
.type-1159 .owl-carousel {
  display: none;
  width: 100%;
  position: relative;
  z-index: 1;
}
.type-1159 .line {
  border: 0.5px solid rgba(0,0,0,0.15);
}
.type-1159 .top-title {
  display: inline-block;
}
.type-1159 .top-title .title {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 300;
  line-height: 32px;
  padding: 5px 0;
}
.type-1159 .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px,0px,0px);
}
.type-1159 .owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.type-1159 .owl-carousel .owl-dots.disabled {
  display: none;
}
.type-1159 .owl-carousel.owl-loaded {
  display: block;
}
.type-1159 .owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.type-1159 .owl-carousel .new-sign-up {
  position: relative;
  display: block;
  margin: 12px;
  overflow: hidden;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
  transition: all .3s ease-in-out;
}
.type-1159 .owl-carousel .new-sign-up a {
  text-decoration: none;
}
.type-1159 .owl-carousel .new-sign-up .far fa-star:hover {
  background: #000;
}
.type-1159 .owl-carousel .new-sign-up a:hover h3 {
  color: #fcb800;
  font-family: Work Sans;
  transition: all .15s ease-in-out;
}
.type-1159 .owl-carousel .new-sign-up .count,
.type-1159 .owl-carousel .new-sign-up h3,
.type-1159 .owl-carousel .new-sign-up p {
  position: relative;
  margin: 0 0 0 10px;
  z-index: 5;
  padding: 0;
}
.type-1159 .owl-carousel .new-sign-up col-md-3
            .count {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.65857;
  color: #106EAA;
}
.type-1159 .owl-carousel .new-sign-up h3 {
  color: #06c;
  font-family: Work Sans;
  font-size: 1.4em;
  font-weight: 400;
}
.type-1159 .owl-carousel .new-sign-up p {
  margin-top: 5px;
  font-size: 13px;
  color: #06c;
}
.type-1159 .owl-carousel .new-sign-up .product-btn {
  position: absolute;
  bottom: 28%;
  right: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.type-1159 .owl-carousel .new-sign-up .product-btn .product-list {
  font-size: 1.3em;
}
.type-1159 .owl-carousel .new-sign-up .product-btn .product-list a i {
  padding: 10px;
  color: black;
}
.type-1159 .owl-carousel .new-sign-up .product-btn .product-list a:hover {
  display: inline-block;
  background: #fcb800;
  border-radius: 60%;
}
.type-1159 .owl-carousel .new-sign-up:hover .product-btn {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility .25s ease, opacity .25s ease, margin .25s ease;
}
.type-1159 .owl-nav .owl-prev {
  left: -3rem;
}
.type-1159 .owl-nav .owl-next {
  right: -3rem;
}
.type-1159 .owl-nav .owl-next,
.type-1159 .owl-nav .owl-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 150px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  color: #ccc;
  font-size: 2em;
  text-decoration: none;
}
.type-1159 .owl-nav .owl-next:hover,
.type-1159 .owl-nav .owl-prev:hover {
  color: black;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
@media (max-width: 1280px) {
  .owl-prev {
    left: -4rem;
  }
  .owl-next {
    right: -4rem !important;
  }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1200px) {
  .owl-prev {
    left: -5rem;
  }
  .owl-next {
    right: -5rem;
  }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 922px) {
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: none;
  }
}
@media (max-width: 768px) {
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: none;
  }
}
@media (max-width: 480px) {
  .owl-next {
    right: -2rem;
  }
  .owl-prev {
    left: -2rem;
  }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: none;
  }
}
@media (min-width: 320px) {
  .owl-next {
    right: -1rem;
  }
  .owl-prev {
    left: -1rem;
  }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: none;
  }
}
div.stars {
  width: 270px;
  display: inline-block;
}
input.star {
  display: none;
}
label.star {
  float: right;
  padding: 10px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before {
  color: #F62;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
