@background:#fff;
@border-width:1px;
@border-radius:20px;
@blue:#40b7ec;
.type-1151 {
    .navbar-default {
        background: @background;
        border: none;

        .input-group{
            span{
                background: @background;
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
                &:hover{
                    background: @blue;
                }
            }
            input{
                border: none;
                border-style: solid;
                border-left-width: @border-width;
                border-top-width: @border-width;
                border-bottom-width: @border-width;
                border-right-width: 0px;
                border-color: #ccc;
                border-top-left-radius: @border-radius;
                border-bottom-left-radius: @border-radius;
            }
        }
        ul{
            li{
                a{
                    &:hover{
                        color:@blue; 
                    }
                }
            }
        }

    }
}




